
h1 {
color: gray;
}

body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background: linear-gradient(white, rgb(227, 187, 243));
}

.ppodklasom {
color: rgb(165, 39, 165);
}

li {
color: rgb(138, 34, 138);
}

.lista {
color: rgb(220, 20, 107);
}